@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700&display=swap');


*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------Header*/

.header-bg-color {
    background-color: rgb(14, 52, 65);
    margin: 0px;
}

#logo {
    float: left; 
    margin-left: 20px;

}

#menu li{
    float: right;
    list-style: none;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    font-weight: 500px;
}

#menu li a{
    text-decoration: none;
    color: orange;
    padding: 20px;
    text-align: center;
    font-size: 120%;
    

}

h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: orange;
    font-size: 200%;
    padding-top: 7px;

}

/*---------------------Hero Image*/

#hero-image{
    width: 100%;
    height: 600px;
    background: url("../images/hero-plane.jpg") no-repeat center center;
}

#hero-prague{
    width: 100%;
    height: 600px;
    background: url("../images/hero-prague.jpg") no-repeat center center;
}

#cover-quote {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 140%;
    color: rgb(14, 52, 65);
    padding-top: 60px;
    text-shadow: 4px 4px 8px #fff;
 
}

#hero-destination{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 240%;
    color: rgb(14, 52, 65);
    padding-top: 120px;
    text-shadow: 8px 4px 8px #fff;
    text-transform: uppercase;
}

/*---------------------Destinations Text Style*/

#where-to-heading{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(14, 52, 65);
    background-color: #fccc2d;
    text-shadow: 4px 4px 8px #fff;

}

#destination{
    text-align: left;
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight:500;
    color: rgb(14, 52, 65);
    padding-left: 10%;
}

/*---------------------Tab Style*/

.tab {
  float: left;
  border: none;
  background-color: #f1c462;
  width: 25%;
  height: 260px;
}

.tab button {
  display: block;
  background-color: inherit;
  padding: 20px 20px;
  width: 100%;
  border: none;
  text-align: left;
  margin: 0;
}

.tab button:hover {
  background-color: #edddbb;
  opacity: 0.7;
  
}

.tab button.active {
  background-color: #edddbb;
}

.tabcontent {
  float: left;
  border: none;
  width: 75%;
  border-left: none;
  height: 260px;
  background-color: #f5ecda;
  padding-top: 80px;
}
/*---------------------Tab Content Styling*/

.tabcontent p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    color: rgb(14, 52, 65);

}

.tabcontent h3 {
    padding-left: 10%;
    color: rgb(14, 52, 65);
    font-family:'Poppins', sans-serif;
    text-transform: uppercase;


}

.tabcontent a{
    float: right;
    text-decoration: none;
    margin-right: 10%;
    text-transform: uppercase;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color: orange;
    padding-top: 20px;

}

/*---------------------Destination Columns*/

.row {
    column-count: 3;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 40px;

}

/*---------------------Things to Do*/

.what-to-do{
    background-color: #f5ecda;
}

#what2do li {
    list-style: none;
    text-align: center;
    color: rgb(14, 52, 65);
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
     

}

#what2do li p{
    text-align: justify;
}

h4 {
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
    letter-spacing: 1px;
    font-size: 20px;
    
}

.hyper-expedia{
    float: right;
    text-decoration: none;
    margin-right: 5%;
    text-transform: uppercase;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color: orange;
    padding-bottom: 40px;

}





/*---------------------Newsletter Form*/

form {
  
  font-family: 'Montserrat', sans-serif;
  clear: both;
  margin: 0;
  
}

#newsletter {
  padding:5%;
  background: url("../images/newsletter bg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.container h3{

    padding-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(14, 52, 65);  
    text-shadow: 4px 4px 8px #fff;
    padding-top: 10px;
 
}

.container p{

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgb(14, 52, 65);  
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}


.title-bg{
     background-color: rgba(255, 212, 131, 0.6) ;
}

.input-containers{
    padding-top:20px;
    
}

input[type=text], input[type=submit] {
  padding: 10px;
  display: inline-block;
  border: 1px solid orange;
  border: none;
  font-family:'Poppins', sans-serif;

}

input[type=text] {
    width: 75%;
}

input[type=submit] {
  background-color:rgb(14, 52, 65) ;
  color: orange;
  border: none;
  width: 25%;
  float:right;
  position: relative;
  padding-right: 2px;
  text-transform: uppercase;
 
}

input[type=submit]:hover {
   
    background-color:#f1c462;
    color: rgb(14, 52, 65);
   
}

input[type=text]:hover {
     opacity: 0.8;
    background-color:#edddbb;
    color: rgb(14, 52, 65);
}
/*---------------------Footer*/


.footer-bg-color{
    background-color: rgb(11, 64, 82); 
   
}  


.copyright {
    float: left;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
}

#social li{
    float: right;
    list-style: none;
    margin-right: 10px;
    padding-top: 10px;
    
}

#social p{
    float: right;
    padding-top: 20px;
    color: #f5ecda;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
}

#social i{
    padding: 5px;
    font-size: 150%;
    color: #f5ecda;
    position: relative;
}


/*---------------------Responsive Sizing*/

@media screen and (max-width: 1393px){

}


@media screen and (max-width: 704px) {
 .row {
     column-count: 1;
 }


    #what2do li {
        padding-bottom: 30px;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 0;
        padding-bottom: 40px;
        
        
    }

    .pad-top{
        padding-top: 40px;
    }

@media screen and (max-width: 546px){
    #hero-image, #hero-prague{
        height: 500px;
    }

    {
        height: 500px;
    }

    #menu {
        float: left;
        line-height: 25px; 
        } 

    #menu li a{
        color: rgb(14, 52, 65);
        font-weight: 600;
        } 
    
    .content-to-hide{
        display: none;
    }

    #where-to-heading {
        font-size: 100%;
    }

    #destination {
        font-size: 100%;
        letter-spacing: 1px;
        font-weight: 600;
        padding-left:0;
    }
 
    .tab{
        height: 150px;
    }
    
    .tabcontent{
        height: 180px;
        padding-top: 0;
    }

    .tabcontent a{
        padding-top: 0;
    }

    .container h3{
        font-size: 100%;
    }
   
}
